<h1>Book#show</h1>
<div>
<%= @book.title %>
</div>
<%= image_tag(@book.picture, :width => '200px', :class => 'picture') %>

<% if false %>
/* => #<Book id: 1, title: "The Lord Of The Rings", author: "J.R.R. Tolkien", description: "A Christian can almost be forgiven for not reading ...", picture: "/cover_art/The_Lord_of_the_Rings.jpg", publication: 1954, rating_style: nil, rating_plot: nil, rating_theme: nil, rating_characters: nil, rating_overall: nil, created_at: "2013-09-28 04:20:50", updated_at: "2013-09-28 04:20:50", rank: 1, booklist_id: nil> */
<% end %>
