<div class="bookshelf">
<% @user.books.each do |ubk| %>
	<%= ubk.title %></br>
<% end %>
<br />

<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</div>
