<% content_for :body do %>
<script type="text/javascript">
	$('#side-menu').sidr();
	$.backstretch("/assets/hd-starry-sky.png");
</script>
<% end %>

<%= link_to('View Bookshelf', '#sidr', :id => 'side-menu', :class => 'button hidden tiny success') %>

<div id="home_gallery">
<%= render(:partial => 'home/gallery') %>
</div>

<div id="sidr">
  <%= render(:partial => 'side_menu') %>
</div>

