
<% content_for :head do %>
	<%#= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
	<h1 id="alert_bigger"><%= content_tag(:div, flash[:alert], :id => "flash_notice") if flash[:alert] %></h1>
<% end %>

<% content_for :body do %>
<script type="text/javascript">
	$.backstretch("assets/wizards_and_spaceships.jpg");
</script>
<% end %>

<script>
	function set_page() {
		if(!(window.location.href == 'http://localhost:3000/'))
		{			
			(window.location.href = '/');
			<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>

		}	
	}


	

set_page();


</script>
